@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Nanum+Myeongjo:wght@400;800&family=Noto+Serif+Display:wght@300;400;600&family=Prata&family=Raleway:wght@200;300&display=swap');

:root {
  --footer-background: #252525;
  --main-color: #A31F5D;
  --title-color: #fef9e7;
  --second-background: #fef9e7;
  --main-background: #57082d;
  --item-productos: #702C4C;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

* {
  box-sizing: border-box;
/*   border: 1px solid black; */
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--second-background);
}

/* Fuentes */
.wave-container h1 {
  font-family: 'Prata', serif;
}

.topwave h1, .presentacion-carta h1, h2  {
  font-family: 'Noto Serif Display', serif;;
}

.recuadro-anim h3, .recuadro-anim h4, .recuadro-anim-inicio h3, .btn {
  font-family: 'Cinzel', serif;
}

p, footer {
  font-family: 'Raleway', sans-serif;
}

/* nav */

.grilla-nav-izq {
  z-index: 1;
  padding: 0.2em 0 0.1em 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  font-family: 'Cinzel', serif;
  font-size: 1.2em;
  position: fixed;
  top: 0;
  height: 45px;
  background-color: var(--second-background);
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.5px solid var(--main-background);
}

.logo-nav {
  padding-top: 5px;
}

.nav-hijo-izq {
  text-align: center;
  color: var(--main-color);
  grid-column-start: span 1;
  display: block;
}

.grilla-nav-izq a {
  text-decoration: none;
}

.nav-hijo-izq:hover {
  border-bottom: 3px solid var(--main-background);
  transition: all 1000ms ease-in;
}

/* Fin nav */

.flex-col-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.wave-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wave-container h1 {
  color: var(--title-color);
  font-size: 6em;
  text-align: center;
}

.descripcion-principal {
  width: inherit;
  height: 25vh;
}

.wave-container p {
  color: var(--title-color);
  font-size: 1.2em;
  text-align: center;
  padding: 0 4em 0 4em;
}

.topwave {
  height: auto;
  width: inherit;
  background: var(--second-background);
  color: var(--second-background);
  display: flex;
  flex-direction: column;
}

.filler {
  height: 45px;
  width: 100vw;
}

.filler1 {
  height: 45px;
  width: 100vw;
}

.topwave h1 {
  width: inherit;
  color: var(--main-color);
  height: auto;
  font-size: 4em;
  text-align: center;
}

.carta {
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
  gap: 2em;
  justify-content: space-between;
}

.recuadro-anim-inicio {
  grid-column-start: span 1;
  height: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border: 2px solid var(--main-background);
  box-shadow: 12px 12px 2px 1px var(--main-background);
}

.recuadro-anim-inicio:hover {
  box-shadow: 2px 2px 2px 1px var(--main-background);
  transition: all 250ms ease-in-out
}

/* Animacion propia creada a partir de la de los botones
  tomandola como referencia */

.recuadro-anim-inicio h3 {
  color: var(--main-background);
  font-size: 2em;
  text-align: center;
}

.recuadro-anim-inicio p {
  color: var(--main-background);
  padding: 2em;
  font-size: 1em;
  text-align: center;
}

.boton {
  color: var(--main-background);
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.5em;
  padding: 5px 1em 5px 1em;
  margin-top: 2em;
  text-decoration: none;
  margin: 1em auto 1em auto;
}

/* Animacion boton */

.btn-anim {
  letter-spacing: 0;
}

.btn-anim:hover,
.btn-anim:active {
letter-spacing: 1px;
transition: all 500ms ease-in-out
}

.btn-anim:after,
.btn-anim:before {
backface-visibility: hidden;
border: 1px solid var(--second-background);
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 500ms ease-in-out;
width: 0;
}

.btn-anim:hover:after,
.btn-anim:hover:before {
backface-visibility: hidden;
border-color: var(--main-background);
transition: width 500ms ease-in-out;
width: 100%;
}

.btn-anim:hover:before {
bottom: auto;
top: 0;
width: 100%;
}

/* Animacion hecha por https://twitter.com/Dave_Conner en https://codepen.io/davidicus/pen/emgQKJ */

/*  Fin animacion boton */

/* Pagina de vinos y aperitivos */

.vinos-aperitivos-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.presentacion-carta {
  width: inherit;
  height: 55vh;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
}

.presentacion-carta h1 {
  font-size: 4em;
  margin: 50px;
  text-align: center;
}

.carta-de-productos {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  background-color: var(--second-background);
  padding: 25px;
  gap: 25px;
}

.recuadro-anim {
  border: 2px solid var(--main-background);
  box-shadow: 12px 12px 2px 1px var(--main-background);
}

.recuadro-anim:hover {
  box-shadow: 2px 2px 2px 1px var(--main-background);
  transition: all 250ms ease-in-out
}

/* Animacion propia creada a partir de la de los botones
  tomandola como referencia */

.titulo-carta {
  background-color: var(--second-background);
  color: var(--main-background);
  font-size: 2.5em;
  text-align: center;
}

.producto {
  height: 200px;
  flex: 1 1 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: auto;
  background-color: var(--item-productos);
  color: var(--title-color);
}

.producto h4 {
  grid-area: 1/1/2/5;
  margin-top: auto;
  text-align: center;
  border-bottom: 1px solid var(--main-background);
  color: var(--second-background);
  letter-spacing: 1px;
  font-size: 1.2em;
}

.producto img {
  grid-area: 2/1/6/2;
  max-width: 100%;
  max-height: 150px;
  margin: auto;
}

.producto p {
  grid-area: 2/2/6/5;
  text-align: justify;
  align-items: center;
  font-size: 0.75em;
  padding-right: 2em;
  margin: auto;
  color: var(--second-background);
}

/* Fin pagina de vinos y aperitivos */

.newsletter {
  background-color: var(--second-background);
  grid-column: 1/13;
  grid-row: 6/7;
  height: 1em;
  padding-top: 15px;
  content: " ";
}

/* Contacto */

.contact-flex {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}

.div-contacto {
  width: 65%;
  border: 1px solid var(--footer-background);
  padding: 25px 25px 25px 25px;
  border-radius: 1em;
  margin: 2em;
  background-color: var(--second-background);
}

.submit-boton {
  background-color: var(--main-background);
  color: var(--second-background);
}

.submit-boton:hover {
  background-color: var(--item-productos);
  color: var;
}

/* Fin de contacto */

/* Footer */

footer {
  grid-row: 3/4;
  grid-column-start: span 12;
  background-color: var(--footer-background);
  color: var(--second-background);
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex: 1 1 30vw;
  justify-content: flex-start;
}

.mapa {
  margin: auto;
  padding: 20px 0px 20px 0px;
}

.contacto {
  padding: 10px;
  display: flex;
  width: 33%;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.renglon {
  display: flex;
  justify-items: center;
  align-items: center;
}

.contacto a {
  text-decoration: underline;
  color: var(--second-background);
  font-size: 0.9em;
}

.contacto h5 {
  text-decoration: underline;
  font-size: 1.1em;
  padding-bottom: 2px;
}

.contacto p {
  font-size: 0.9em;
}

.contacto img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.imagenes-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-centered {
  text-decoration: none;
  font-size: 0.8em;
  text-align: right;
}

.newsletter-input {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  height: 1.5em;
}

.escribir-email {
  width: 65%;
  padding: 3px;
}

.submit-email {
  width: 35%;
  height: 100%;
}

/* MediaQueries */

@media(max-width: 600px) /* Que detecte todos los disp que tienen pantalla hasta 400px, aplica esto */ {

  .grilla-nav-izq {
    flex-direction: column;
    height: auto;
    position: relative;
  }

  .wave-container {
    height: auto;
  }

  .wave-container h1 {
    font-size: 4em;
  }

  .topwave h1, .presentacion-carta h1  {
    font-size: 3em;
  }

  .recuadro-anim h3 {
    font-size: 1.6em;
  }

  .wave-container p {
    font-size: 1.2em;
  }

  /* Primer pagina terminada */

  /* Vinos y aperitivos */

  .presentacion-carta {
    height: auto;
  }

  .carta {
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    padding: 2em;
    gap: 2em;
    justify-content: space-between;
  }
  
  .recuadro-anim {
    grid-row-start: span 1;
    height: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--main-background);
    box-shadow: 12px 12px 2px 1px var(--main-background);
  }

  .titulo-carta {
    font-size: 1.8em;
    margin-top: 10px;
  }
  
  .producto {
    flex: 1 1 100%;
  }

  .producto p {
    text-align: justify;
    margin: auto;
    padding: 0;
  }

  /* Fin vinos y aperitivos */

  footer {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .contacto {
    width: 100vw;
    height: auto;
    gap: 1em;
    align-items: center;
  }

  .mapa {
    display:none;
  }

  .filler1 {
    display: none;
  }

  .div-contacto {
    width: 90%;
    border: 1px solid var(--footer-background);
    padding: 10px;
    border-radius: 1em;
    margin: 2em;
    background-color: var(--second-background);
  }
}

@media(min-width: 600px) and (max-width: 1050px) {

  .wave-container {
    height: 100vh;
  }

  .grilla-nav-izq {
    flex-direction: row;
    height: auto;
    position: fixed;
  }

  .nav-hijo-izq {
    flex: 1 1 40%;
    font-size: 0.9em;
  }

  .titulo-carta {
    font-size: 1.8em;
    margin-top: 10px;
  }

  .mapa {
    display:none;
  }

  .producto {
    flex: 0 0 43%;
  }

  .producto p {
    text-align: justify;
    margin: auto;
    padding-right: 1em;
    font-size: 0.7em;
  }
 
  footer {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .contacto {
    width: 100vw;
    height: auto;
    gap: 0.7em;
    align-items: center;
  }

  .div-contacto {
    width: 80%;
    border: 1px solid var(--footer-background);
    padding: 15px;
    border-radius: 1em;
    margin: 3em;
    background-color: var(--second-background);
  }

}