@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Source+Serif+Pro:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

:root {
    --footer-backgroundcolor: hsla(0, 0%, 100%, 1);
    --footer-fontcolor: rgb(0, 0, 0);
}

body {
    width: 100%;
    margin: 0;
}

/* {
    border: 1px solid black;
}*/

/* nav */

.grilla-nav-izq {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100vw;
    font-family: Raleway;
    position: fixed;
    top: 0;
    height: auto;
    background-color: var(--footer-backgroundcolor);
    align-items: center;
    border-bottom: 2px solid var(--footer-fontcolor);
}

.nav-hijo-izq {
    padding: 1em;
    text-align: center;
    color: var(--footer-fontcolor);
    border-right: 1px solid var(--footer-fontcolor);
    grid-column-start: span 1;
    display: block;
}

.nav-hijo-izq:last-child {
    padding: 1em;
    text-align: center;
    color: var(--footer-fontcolor);
    border: none;
    box-shadow: var(--footer-fontcolor);
}

.grilla-nav-izq a {
    text-decoration: none;
}

.grilla-nav-izq a:hover {
    text-decoration: underline;
}

/* Fin nav */

.grilla {
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hijo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-start: span 12;
    height: 100vh;
}

.presentacion {
    grid-column-start: 2;
    grid-column-end: span 10;
    grid-row: span 12;
    display: flex;
    align-items: center;
}

.logo-blanco {
    image-rendering: optimizeQuality;
    width: 300px;
    margin: auto;
    display: block;
}

.about-us {
    grid-column-start: 2;
    grid-column-end: span 10;
    grid-row-start: 3;
    grid-row-end: span 7;
    background-color: rgba(243, 238, 231, 0.8);
    border-radius: 0.3em;
    display: grid;
    grid-template-columns: 40px repeat(10, 1fr) 40px;
    grid-template-rows: 40px repeat(10, 1fr) 40px;
}

.ab-us-title-box {
    grid-row: 2/12;
    grid-column: 2/5;
    border-right: 2px solid var(--footer-fontcolor);
}

.ab-us-title-box h2 {
    text-align: end;
    padding-right: 5px;
    margin: auto;
    font-size: 3.5em;
    font-family: Koh Santepheap;
}

footer {
    grid-column-start: span 12;
    background-color: var(--footer-backgroundcolor);
    color: var(--footer-fontcolor);
    height: auto;
}