@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Source+Serif+Pro:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

:root {;
    --footer-fontcolor: rgb(0, 0, 0);
    --main-color: #8c124b;
    --title-color: #FEF9E7;
    --second-background: #FEF9E7;
    --main-background: #57082d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

/* nav */
.grilla-nav-izq {
    z-index: 1;
    padding: 0.2em 0 0.1em 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-family: Raleway;
    position: fixed;
    top: 0;
    height: 45px;
    background-color: var(--second-background);
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--main-color);
}

.logo-nav {
    padding-top: 5px;
}

.nav-hijo-izq {
    text-align: center;
    color: var(--main-color);
    grid-column-start: span 1;
    display: block;
}

.grilla-nav-izq a {
    text-decoration: none;
}

.grilla-nav-izq a:hover {
    text-decoration: none;
}
/* Fin nav */

.flex-col-main {
    display: grid;
    grid-template-rows: repeat(1fr, 5);
}

.wave-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-background);
    grid-row: 1 span 1;
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: repeat(1fr, 6);
}

.filler {
    height: 55px;
    grid-column: span 12;
    grid-row: 1 / 2;
}
.wave-container h1 {
    color: var(--title-color);
    font-size: 6em;
    text-align: center;
    grid-column: span 12;
    grid-row: 2 / 3;
}

.wave-container p {
    color: var(--title-color);
    font-size: 1.3em;
    margin: 40px 50px 0px 50px;
    grid-row: 3 / 4;
    grid-column: 4 / 10;
    text-align: center;
}

.svg-wave {
    display: block;
    width: 100;
    grid-row: 4/5;
    grid-column: 1/13;
}

.svg-wave > svg {
    display: block;
    width: 100;
    grid-row: 4/5;
    grid-column: 1/13;
}

.topwave {
    background-image: url(E:/Programming/cac-2168-python/le-cepage/imgs/topwave.svg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background: var(--second-background);
    color: var(--main-background);
    text-align: center;
    overflow: hidden;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: repeat(1fr, 6);
}

.topwave > svg {
    display:block;
    width: 100;
    height: 80%;
    grid-row: 1/2;
}

.topwave h1 {
    color: var(--main-background);
    z-index: 0;
    position: relative;
    font-size: 6em;
    text-align: center;
    grid-column: 1/13;
    grid-row: 1 / 2;
}

/* Footer */
footer {
    grid-column-start: span 12;
    background-color: var(--footer-backgroundcolor);
    color: var(---main-color);
    height: auto;
}